body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.warning {
  background-color: rgb(201, 74, 74);
  color: white;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 1rem;
}

nav {
  display: flex;
  justify-content: flex-end;
}

nav ul {
  list-style-type: none;
}

img {
  width: 100%;
}